<template>
  <nav class="navbar navbar-light bg-info" v-if="profile.limit">
    <div class="container">
      <a class="navbar-brand"  style="color:white;" href="/">Loja VueJS - Pos Graduacao</a>

      <span class="navbar-text float-right" style="color:white;">
        Olá <strong style="color:yellow;">{{fullName}}</strong>, seu limite de crédito é
         <span style="color:red;">R<ShoppingCartLimit :limit="profile.limit" /></span>
      </span>
    </div>
  </nav>
</template>

<script>
import ShoppingCartLimit from './../shop/shopping-cart/ShoppingCartLimit'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'PageHeader',
  computed: {
    ...mapState({
      profile: state => state.profile.data
    }),
    fullName () {
      return `${this.profile.firstName} ${this.profile.lastName}`
    }
  },
  methods: mapActions([
    'getProfile'
  ]),
  components: { ShoppingCartLimit },
  created () {
    this.getProfile()
  }
}
</script>
