<template>
  <div>
    <h3>Carrinho</h3>

    <ShoppingCartItem
      v-for="item in items"
      :item="item"
      :key="item.id" />

    <ShoppingCartSummary />

    <div class="mt-3 text-center">
      <button class="btn btn-success"
        :disabled="orderOnLimit"
        @click="buy">
        Finalizar Compra
      </button>
      <p></p>
      <div v-if="orderOnLimit" class="alert alert-danger" role="alert">Compra acima do seu limite!</div>
    </div>
  </div>
</template>

<script>
import ShoppingCartItem from './ShoppingCartItem'
import ShoppingCartSummary from './ShoppingCartSummary'
import { mapGetters } from 'vuex'

export default {
  name: 'ShoppingCart',
  computed: mapGetters({
    items: 'cartProducts',
    orderOnLimit: 'orderOnLimit'
  }),
  components: {
    ShoppingCartItem,
    ShoppingCartSummary
  },
  methods: {
    buy () {
      window.alert("Compra Realizada com sucesso!")
      window.location.reload()
    }
  }
}
</script>
